{% extends "base.html" %}
{% block content %}
<div class="uk-container uk-container-small">
    <div class="uk-card uk-card-secondary">
        <div class="uk-card-body">
            <p>This has been logged, sorry for the inconvenience!</p>
            <a class="uk-button uk-button-default" href={{ url_for('main.index') }}>Home</a>
        </div>

    </div>
</div>
{% endblock %}