{% extends "base.html" %}
{% set active_page = "admin" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <form action="" method="post" enctype="multipart/form-data">
            {{ image_form.hidden_tag() }}
            <p>
                {{ image_form.sample_id.label }} <br>
                {{ image_form.sample_id(class = "uk-select")}}<br>
                {% for error in image_form.sample_id.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ image_form.z_stack_id.label }} <br>
                {{ image_form.z_stack_id(class = "uk-select")}}<br>
                {% for error in image_form.z_stack_id.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ image_form.slide_x.label}} <br>
                {{ image_form.slide_x(size = 32) }} <br>
                {% for error in image_form.slide_x.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ image_form.slide_y.label}} <br>
                {{ image_form.slide_y(size = 32) }} <br>
                {% for error in image_form.slide_y.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ image_form.slide_z.label}} <br>
                {{ image_form.slide_z(size = 32) }} <br>
                {% for error in image_form.slide_z.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>
                {{ image_form.image_file.label}} <br>
                {{ image_form.image_file}} <br>
                {% for error in image_form.image_file.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>{{ image_form.submit(class="uk-button uk-button-primary") }}</p>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#sample_id').change(function() {
            var url = "{{ url_for('admin.z_stacks_from_sample_id') }}";
            var sample_id = $('#sample_id').val();
            $.post(url, {sample_id: sample_id}).done(function(response){
                var $zStackSelect = $('#z_stack_id');
                $zStackSelect.empty();
                $.each(response, function(key,value){
                    $zStackSelect.append($("<option></option>")
                    .attr("value", value).text(key))
                });
            });
        });

        var csrf_token = "{{ csrf_token() }}";

		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			}
        });
    });
</script>
{% endblock %}