{% extends "base.html" %}
{% set active_page = "admin" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <form action="" method="post" enctype="multipart/form-data">
            {{ images_json_form.hidden_tag() }}
            <p>
                {{ images_json_form.json_file.label}} <br>
                {{ images_json_form.json_file}} <br>
                {% for error in images_json_form.json_file.errors%}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>{{ images_json_form.submit(class="uk-button uk-button-primary") }}</p>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var csrf_token = "{{ csrf_token() }}";

		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			}
        });
    });
</script>
{% endblock %}