{% extends "base.html" %}
{% set active_page = "admin" %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <form action="" method="post">
            {{ slide_form.hidden_tag() }}
            <p>
                {{ slide_form.sample_id.label }} <br>
                {{ slide_form.sample_id(size =4 )}}<br>
                {% for error in slide_form.sample_id.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>{{ slide_form.submit(class="uk-button uk-button-primary") }}</p>
        </form>
    </div>
</div>

{% endblock %}