{% extends "base.html" %}
{% set active_page = "admin" %}
{% block content %}
<div class="uk-card uk-card-small uk-card-secondary uk-card-body uk-flex uk-flex-center">
    <button class="uk-button uk-button-default" type="button">Users</button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Lists</li>
            <li><a class="uk-button uk-button-primary" href="{{ url_for('admin.users')}}">User list</a></li>
            <li class="uk-nav-header">Add new items</li>
        </ul>
    </div>
    <button class="uk-button uk-button-default" type="button">Images</button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Lists</li>
            <li><a class="uk-button uk-button-primary" href="{{ url_for('admin.images')}}">Image list</a></li>
            <li><a class="uk-button uk-button-primary" href="{{ url_for('admin.z_stacks')}}">Z-stack list</a></li>
            <li class="uk-nav-header">Add new items</li>
            <li><a class="uk-button uk-button-secondary" href="{{ url_for('admin.add_slide')}}">Add slide</a></li>
            <li><a class="uk-button uk-button-secondary" href="{{ url_for('admin.add_z_stack')}}">Add z-stack</a></li>
            <li><a class="uk-button uk-button-secondary" href="{{ url_for('admin.add_image')}}">Add image</a></li>
            <li><a class="uk-button uk-button-secondary" href="{{ url_for('admin.add_images_json')}}">Add images with JSON</a></li>
        </ul>
    </div>

</div>
{% endblock %}