{% extends "base.html" %}
{% set active_page = "admin" %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <table class="uk-table uk-table-divider uk-flex-center">
            <tr>
                <th>
                    Thumbnail
                </th>
                <th>
                    Image ID
                </th>
                <th>
                    Z stack ID
                </th>
                <th>
                    slide x
                </th>
                <th>
                    slide y
                </th>
                <th>
                    slide z
                </th>
                <th>
                    Check hash?
                </th>
            </tr>

            {% for image in images.items %}
            <tr>
                <td>
                   <a href= "{{ url_for('slides.get_img',id = image.id) }}">
                        <img data-src= "{{ url_for('slides.get_img',id = image.id) }}", width = "114", height = "72" uk-img>
                   </a>
                </td>
                <td>
                    {{ image.id }}
                </td>
                <td>
                    {{ image.z_stack_id }}
                </td>
                <td>
                    {{ image.slide_x}}
                </td>
                <td>
                    {{ image.slide_y}}
                </td>
                <td>
                    {{ image.slide_z}}
                </td>
                <td>
                    <input type="checkbox" class="uk-checkbox" id="chkbox_check_hash_{{image.id}}" name="check_hash"
                        value="{{image.id}}" disabled="disabled" {% if image.check_hash() %} checked {% endif %}>
                </td>
            </tr>
            {%endfor %}
        </table>
    </div>
    <div class =  "uk-margin">
        {%from "macros.jinja" import render_pagination%}
        {{render_pagination(images, "admin.images")}}
    </div>
        
</div>
{% endblock %}