{% extends "base.html" %}
{% set active_page = "admin" %}
{% block content %}
<div class="uk-container uk-container-expand">
    <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-center">
        <table class="uk-table uk-table-divider uk-flex-center">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Is admin?
                </th>
                <th>
                </th>
                <th>
                    Experience
                </th>
                <th>
                    Number of total labelling sessions
                </th>
                <th>
                    Number of completed labelling sessions
                </th>
                <th>
                    Number of incompleted labelling sessions
                </th>
            </tr>

            {% for user in users.items %}
            <tr>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    <input type="checkbox" class = "uk-checkbox" id="chkbox_is_admin_{{user.username}}" name="is_admin"
                        value="{{user.username}}" disabled="disabled" {% if user.is_admin %} checked {% endif %}>
                </td>
                <td>
                    {% if user.is_admin %}
                    <form action="{{ url_for('admin.remove_admin', username=user.username) }}" method="post">
                        {{ form.hidden_tag()}}
                        {{ form.submit(value='Remove admin', class = 'uk-button uk-button-danger uk-button-small')}}
                    </form>
                    {% else %}
                        <form action="{{ url_for('admin.make_admin', username=user.username) }}" method = "post">
                            {{ form.hidden_tag()}}
                            {{ form.submit(value='Make admin', class = 'uk-button uk-button-danger uk-button-small')}}
                        </form>
                    {% endif %}
                </td>
                <td>
                    {{ user.experience}}
                </td>
                <td>
                    {{user.labelling_sessions.count()}}
                </td>
                <td>
                    {{user.labelling_sessions.filter_by(is_completed = True).count()}}
                </td>
                <td>
                    {{user.labelling_sessions.filter_by(is_completed = False).count()}}
                </td>
            </tr>
            {%endfor %}

        </table>
    </div>
    <div class = "uk-margin">
        {%from "macros.jinja" import render_pagination%}
        {{render_pagination(users, "admin.users")}}
    </div>
</div>
{% endblock %}