{% extends "base.html" %}
{% set active_page = "admin" %}
{% block content %}
<div class="uk-container uk-container-expand">
    <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-center">
        <table class="uk-table uk-table-divider uk-flex-center">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Z-stack name
                </th>
                <th>
                    Is active?
                </th>
                <th>

                </th>
                <th>
                    Sample name
                </th>
                <th>
                    Number of Labelling sessions
                </th>
                <th>
                    Number of completed labelling sessions
                </th>
                <th> 
                    Number of incompleted labelling sessions
                </th>
            </tr>
            {% for z_stack in z_stacks.items %}
            <tr>
                <td>
                    {{ z_stack.id}}
                </td>
                <td>
                    {{ z_stack.name}}
                </td>
                <td>
                <input type="checkbox" class = "uk-checkbox" id="chkbox_is_active_{{z_stack.id}}" name="is_active"
                        value="{{z_stack.id}}" disabled="disabled" {% if z_stack.is_active %} checked {% endif %}>
                </td>
                <td>
                    {% if z_stack.is_active %}
                    <form action="{{ url_for('admin.make_z_stack_inactive', id = z_stack.id) }}" method="post">
                        {{ form.hidden_tag()}}
                        {{ form.submit(value='Make inactive', class = 'uk-button uk-button-danger uk-button-small')}}
                    </form>
                    {% else %}
                    <form action="{{ url_for('admin.make_z_stack_active', id=z_stack.id) }}" method = "post">
                        {{ form.hidden_tag()}}
                        {{ form.submit(value='Make active', class = 'uk-button uk-button-danger uk-button-small')}}
                    </form>
                    {% endif %}
                </td>

                <td>
                    {{z_stack.slide.sample_id}}
                <td>
                    {{ z_stack.labelling_sessions.count()}}
                </td>
                <td>
                    {{ z_stack.labelling_sessions.filter_by(is_completed = True).count()}}
                </td>
                <td>
                    {{ z_stack.labelling_sessions.filter_by(is_completed = False).count()}}
                </td>
            </tr>
            {%endfor %}

        </table>
    </div>
        <div class =  "uk-margin">
        {%from "macros.jinja" import render_pagination%}
        {{render_pagination(z_stacks, "admin.z_stacks")}}
    </div>
</div>
{% endblock %}