{% extends "base.html" %}
{% set active_page = "slide" %}
{% set show_nav_bar = false %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.0.0-beta.12/fabric.min.js"></script>
<script src="{{ url_for('static',filename='app.js') }}"></script>


{% endblock %}
{% block content %}
<script>
	let labelling_session_saved =false
	var csrf_token = "{{ csrf_token() }}";

		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			}
		});

    window.addEventListener('beforeunload', (event) => {
		if (!labelling_session_saved){
			var url = "{{url_for('slides.save_labelling_session')}}";
			var data = {labelling_session_id: {{labelling_session.id}}, is_completed: false}
			$.post(url, data)
		}
    });

</script>
<div style="width:1152px; margin:0 auto;">
		<canvas id="canvas" width="1152" height="720" style="border: 2px solid black"></canvas>
</div>
<div class="uk-container uk-container-small uk-flex uk-flex-center">
		<progress id="zStackProgress" class="uk-progress" value="" max=""></progress>
</div>
	<div class="uk-button-group uk-margin-small uk-flex uk-flex-center">
		<button id="btnMoveDownZ" class="uk-button uk-button-primary" uk-icon="icon: triangle-down; ratio: 2"
			onclick="moveDownZ()">Move down Z</button>
		<button id="btnFinishedLabelling" class="uk-button uk-button-danger" onclick="saveLabellingSession()">Loading images... <div uk-spinner></div></button>
		<button id="btnMoveUpZ" class="uk-button uk-button-primary" uk-icon="icon:triangle-up; ratio: 2"
			onclick="moveUpZ()">Move up Z</button>
	</div>
</div>
<div id="labelTypeModal" uk-modal="esc-close: false; bg-close: false;">
	<div class="uk-modal-dialog">
		<div class="uk-modal-body uk-text-center">
			<div id="labelTypeModalRadio" class="uk-form-control">
			</div>
		</div>
		<div class="uk-modal-footer uk-text-center">
			<button id="btn_delete_label" class="uk-button uk-button-danger" type="button">Delete label</button>
			<button id="btn_save_label" class="uk-button uk-button-primary" type="button">Save
				label</button>

		</div>
	</div>
</div>
<script>
	let defaultLabelOptions;
	let zNumber;
	let zStack = new Array();
	let imageIDs = new Array();
	let scale_x;
	let scale_y;
	function preloadSlideTiles() {
		{% for image in images %}
			zStack[{{loop.index0}}] = new Image();
			zStack[{{loop.index0}}].src = "{{ url_for('slides.get_img',id = image.id) }}";
			imageIDs[{{loop.index0}}] = {{image.id}};
		{% endfor %}
	};
	function saveZMove(is_move_up){
		var url = "{{ url_for('slides.save_z_move')}}";
		$.post(url, {image_id:imageIDs[zNumber], labelling_session_id: {{labelling_session.id}}, is_move_up  : is_move_up});
	};

	function checkAllLabelled(value, index, array){
		return typeof value.labelType !== "undefined"
	};

	function saveLabellingSession(){
		//Mark labelling session as complete

		if (fabricCanvas._objects.every(checkAllLabelled)){
			var url = "{{url_for('slides.save_labelling_session')}}";
			$.post(url, {labelling_session_id: {{labelling_session.id}}, is_completed: true}).done(function (response){
				console.log(response['message'])
				labelling_session_saved=true
				UIkit.modal.confirm('Labelling session saved. Would you like to label another slide?', {labels:{ok: 'Next slide', cancel: 'Exit labelling'}}).then(function(){
				window.location.replace("{{url_for('slides.slides')}}");
				}, function(){
					window.location.replace("{{url_for('main.index')}}");
				});
			});
		} else {
			UIkit.modal.alert('Not all the labels have been given a type.  Please click on the yellow labels and assign them a type.')
		}

	};

	function loadLabels(){
		{% for label in labels %}
		rect = new fabric.Rect({
			left : {{label.image_x}} / scale,
			top  : {{label.image_y}} / scale,
			width: {{label.image_delta_x}}/scale,
			height : {{label.image_delta_y}}/scale,
			{% if label.ask_question == true%}
			askQuestion: true,
			question: "{{label.question}}",
			labelOptions : {{label.label_options| safe}},
			...options.newRectProps,
			{% else %}
			labelType: "{{label.label_type}}",
			labelOptions : defaultLabelOptions,
			...options.savedRectProps,
			{% endif %}
		});
		rect.id = {{label.id}}
		fabricCanvas.add(rect);
		rect.dirty = true;
		{% endfor %}
		fabricCanvas.renderAll();
	};

	preloadSlideTiles();


	$('#btn_delete_label').click(function (e) {
		$('#labelTypeModalRadio').html("<div uk-spinner></div>");
		selectedLabel = fabricCanvas.getActiveObject();
		if (typeof selectedLabel.id !== 'undefined') {
			var url = "{{ url_for('slides.delete_label') }}";
			$.post(url, {label_id: selectedLabel.id, labelling_session_id: {{labelling_session.id}}
			}).done(function (response) {
				console.log(response['message'])
			}).fail(function () {
				console.log("Error, could not contact server.")
			});
		}
		fabricCanvas.remove(selectedLabel);
		fabricCanvas.requestRenderAll();
		UIkit.modal(labelTypeModal).hide();
	});

	$('#btn_save_label').click(function (e) {
		var url = "{{ url_for('slides.save_label') }}";
		selectedLabel = fabricCanvas.getActiveObject();
		var typeRadioElements = document.getElementsByName("typeRadio");
		for (i = 0; i < typeRadioElements.length; i++) {
			if (typeRadioElements[i].checked) {
				selectedLabel.labelType = typeRadioElements[i].value;
			}
		}
		if (typeof selectedLabel.id === 'undefined') {
			selectedLabel.id = null
		}
		$('#labelTypeModalRadio').html("<div uk-spinner></div>");
		var shape = "rect";
		var image_x = Math.round(selectedLabel.left*scale);
		var image_y = Math.round(selectedLabel.top*scale);
		var image_delta_x = Math.round(selectedLabel.width*scale);
		var image_delta_y = Math.round(selectedLabel.height*scale);
		var label_type = selectedLabel.labelType;
		var ask_question = selectedLabel.askQuestion;
		var image_id = imageIDs[zNumber];
		var label_options = selectedLabel.labelOptions.toString();
	$.post(url, {label_id: selectedLabel.id, labelling_session_id: {{labelling_session.id}}, ask_question:ask_question,shape: shape, image_x: image_x, image_y: image_y, image_delta_x: image_delta_x, image_delta_y: image_delta_y, label_type: label_type, label_options: label_options, image_id: image_id}).done(function (response) {
		selectedLabel.id = parseInt(response);
		selectedLabel.stroke = 'red';
		selectedLabel.dirty = true;
		fabricCanvas.renderAll();
		UIkit.modal(labelTypeModal).hide();
	}).fail(function () {
		console.log("Error, could not contact server.")
	})
	});


	slideLabel = document.getElementById("slideLabel");
	btnMoveUpZ = document.getElementById("btnMoveUpZ");
	btnMoveDownZ = document.getElementById("btnMoveDownZ");
	
	defaultLabelOptions = {{default_label_options | safe}};
	
	zNumber = Math.floor(zStack.length / 2);
	document.getElementById('zStackProgress').max = zStack.length - 1;
	zStack[zNumber].onload = function (){
		console.log("loading canvas");
		canvas = document.getElementById('canvas');
		fabricCanvas = new fabric.Canvas(canvas);
		scale = zStack[0].width/canvas.width;
		fabricCanvas.setHeight(zStack[0].height/scale);
		fabricCanvas.calcOffset();
		loadLabels();
		
		
		fabricCanvas.selection = false;
		fabricCanvas.on('mouse:down', onMouseDown);
		fabricCanvas.on('mouse:move', onMouseMove);
		fabricCanvas.on('mouse:up', onMouseUp);
		fabricCanvas.on('mouse:wheel', function (opt) {
			if (opt.e.deltaY < 0) {
				moveUpZ();
			} else {
				moveDownZ();
			}
			});
		showNewImage();
		$('#btnFinishedLabelling').html("Finished labelling")
	};	

	rect = null



</script>
{% endblock %}