{% extends "base.html" %}
{% set active_page = "login" %}
{% block content %}
<div class="uk-container">
<div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
    <form action="" method="post" novalidate>
        <fieldset class="uk-fieldset">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}

            {% for error in form.password.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me(class = "uk-checkbox") }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="uk-button uk-button-primary") }}</p>
    </fieldset>
    </form>
</div>
<div class="uk-card uk-card-small uk-card-secondary uk-card-body uk-flex uk-flex-center">
    <a class = "uk-button uk-button-default" href="{{ url_for('auth.register')}}">Register</a>
</div>
</div>

{% endblock %}