{% extends "base.html" %}
{% set active_page = "register" %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.experience.label }}
            <table class = "uk-table uk-table-small">
                {% for subfield in form.experience %}
                <tr>
                    <td class = "uk-table-shrink">{{subfield(class = "uk-radio")}}</td>
                    <td>{{subfield.label}}</td>
                </tr>
                {% endfor %}
            </table>
            {% for error in form.experience.errors %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
            </div>
            {% endfor %}
            </p>
            <p>{{ form.submit(class="uk-button uk-button-primary") }}</p>
        </form>
    </div>
</div>
{% endblock %}