{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.current_password.label }}<br>
                {{ form.current_password(size=32) }}<br>
                {% for error in form.current_password.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <div class="uk-alert-danger" uk-alert>
                    <p>{{error}}<a class="uk-icon-button uk-align-right" uk-icon="icon: warning"></a></p>
                </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="uk-button uk-button-primary") }}</p>
        </form>
    </div>
</div>
{% endblock %}