<!doctype html>

<head>
    <title>{{ title }} - OpenFlexure labelling tool</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>


    {% block head %}{% endblock %}
    {% if current_user.is_anonymous %}
    {% set login_or_logout = (url_for('auth.login'),'login','Log in') %}
    {% else %}
    {% set login_or_logout = (url_for('auth.logout'),'logout','Log out') %}
    {% endif %}
    {%set navigation_bar = [(url_for('main.index'), 'home', 'Home'),(url_for('slides.slides'),'slides','Slides'), login_or_logout ] %}
    {% if current_user.is_admin %}
    {{ navigation_bar.append((url_for('admin.dashboard'), 'admin', 'Admin')) or ""}}
    {% endif %}
    {%set active_page = active_page|default('index')%}
</head>

<body>
    {% if show_nav_bar != false %}
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left uk-margin-left">
            <a class="uk-navbar-item uk-logo" href="{{ url_for('main.index') }}">OpenFlexure Labelling Tool</a>
        </div>
        <div class="uk-navbar-right uk-margin-right">
            <ul class="uk-navbar-nav">
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="uk-active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% endif %}
    {% if title %}
    <div id="heading">
        <div class="uk-card uk-card-small uk-card-primary uk-card-body">
            <h3 class="uk-margin-left">{{ title }}</h3>
        </div>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="uk-container">
        <div class="{{ {'message':'uk-alert-primary','success':'uk-alert-success', 'warning':'uk-alert-warning', 'error':'uk-alert-danger  uk-animation-shake'}[category]|default('uk-alert-default') }}"
            uk-alert>
            <p>{{message}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {%endwith%}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>