{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-flex uk-flex-center">
        <p>Hello,
            {% if current_user.is_anonymous %}
            please <a href={{ url_for('auth.login') }}>log in!</a>
            {% else %}
            {{ current_user.username }}!
            {% endif %}
        </p>
    </div>
    {% if current_user.is_anonymous %}
    <div class="uk-card uk-card-small uk-card-secondary uk-card-body uk-flex uk-flex-center">
        <a class="uk-button uk-button-primary" href="{{ url_for('auth.login')}}">Log in</a>
        <a class="uk-button uk-button-default" href="{{ url_for('auth.register')}}">Register</a>
    </div>
    {% else %}
    <div class="uk-card uk-card-small uk-card-secondary uk-card-body uk-flex uk-flex-center">
        <a class="uk-button uk-button-primary" href="{{ url_for('slides.slides')}}">Label slides</a>
        <a class="uk-button uk-button-default" href="{{ url_for('auth.reset_password')}}">Reset Password</a>
    {% if current_user.is_admin %}
    <a class="uk-button uk-button-default" href="{{ url_for('admin.dashboard')}}">Admin dashboard</a>

    {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}