{% macro render_pagination(pagination, endpoint) %}
  	<ul class="uk-pagination uk-flex-center" uk-margin>
	  	{% if pagination.has_prev %}
  		<li><a href= "{{url_for(endpoint, page=prev_num)}}"><span uk-pagination-previous></span></a></li>
		{% endif %}
		{% if pagination.pages > 1 %}
  			{%- for page in pagination.iter_pages() %}
    			{% if page %}
      				{% if page != pagination.page %}
        				<li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      				{% else %}
        				<li class="uk-active"><span>{{ page }}</li>
      				{% endif %}
    			{% else %}
      				<li class="uk-disabled"><span>...</span></li>
    			{% endif %}
  			{%- endfor %}
		{% endif %}
		{% if pagination.has_next %}
  			<li><a href= "{{url_for(endpoint, page=next_num)}}"><span uk-pagination-next></span></a></li>
		{% endif %}
	</ul>
{% endmacro %}